.video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skip-buttons-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.skip-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
}

.skip-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.colorIcon {
    width: 25px;
    height: 25px;
    color: white;
    opacity: 0.5;
    /* 50% de opacidad */
}

.video-bookmark-container {
    position: relative;
    display: flex;
    width: 5px;
}

.video-bookmarks {
    position: absolute;
    display: flex;
    top: 76%;
    width: 5px;
    height: 5px;
    background-color: darkgoldenrod;
    pointer-events: none;
}

.text-marker-container {
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
}

.text-marker {
    color: white;
    margin: 1px;
    align-items: center;
    justify-content: center;
}

.timeline-marker {
    position: absolute;
    list-style-type: none;
    /* top: 0; */
    bottom: 42px;
    width: 4px;
    height: 4px;
    background-color: yellow;
}